.talk{
	background-color : cyan;
	color : red;
	width : 400;
	height : 200;
	font-family: 'Big Shoulders Stencil Text', cursive;
	font-size: 32px;
}

.content{
    color: cyan;
}

p{
	font-size: 160px;
	color: white;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-top: 0px;
	margin-bottom: 0px;
}

h2{
	color: rgba(255, 255, 255, 0.622);
	font-family: Jokerman;
	text-align: center;
}

marquee{
font-family:  'Hanalei Fill', cursive;
color: rgba(255, 255, 255, 0.622);
}

.talker{
	text-align: center;
}

.header{
margin-top: 0px;
}